<ion-header>
  <ion-toolbar>
    <ion-title>Lista eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label> <b> Próximos 2 eventos </b></ion-label>
    <ion-toggle
      (ionChange)="toggleChanged($event)"
    ></ion-toggle>
  </ion-item>
  <ion-item *ngFor="let reservacion of reservaciones">
    <p>Cliente: {{reservacion.client}} <br/>
       Teléfono: {{reservacion.tel}} <br>
       Fecha: {{reservacion.date}}<br>
       Precio: {{reservacion.price}}
    </p>
    
  </ion-item>
</ion-content>
